@{
    ViewBag.Title = "Home Page";
}

<!-- Card -->
<div class="card" style="margin-top: 30px">
    <div class="card-header">
        <i class="fas fa-cubes me-1"></i> Último periodo cargado por producto
    </div>
    <div class="card-body">
        <hr />
        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Nombre del Producto</th>
                    <th>Periodo</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section scripts{

    <script>

        var tabladata;

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: true,
            "ajax": {
                url: '@Url.Action("ListarV_ProductoUltimoPeriodo", "Home")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                {
                    "data": "oProducto", "render": function (data) {
                        return data.Nombre_Producto
                    }
                },
                { "data": "Periodo" }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.2/i18n/es-ES.json"
            },
        });

    </script>
}

