<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/morrego-ext/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="morrego-ext" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>
